body {
	color: white;
	background-color: rgb(22, 144, 108);
}

#title{
	font-size: 40px;
	margin bottom: 20px;
}
div {
	display: block;
}
.text_container {
	text-align: center;
	width: 700px;
	margin: 20px auto 50px;
}
.cookie {
	text-align: center;
	transition: transform 2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
	padding: 0 0 0 0;
}
.cookie:hover{
transform: scale(1.3);
/*animation: rotation 4s linear infinite;*/
}

.cookie:active{
	transform: scale(30);
	transition: transform 0.5s;
	animation: rotation 1s linear infinite;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
				-webkit-transform: scale(30);
				-webkit-transform: 0.5s;
		}
}

#host{
	line-height: 1.5;
	font-size: 20px;
}

.cookie{
	display: inline-block;
	margin: 30px;
}
.link_container{
	text-align: center;
	margin: 20px;
}

a:link{
	font-color: red;
}
a:visited {
	color: #fd8e45;
}
a:hover {
	color: #ff6500;
}
a:active {
	color: #ff6500;
}
.iframe{
	width: 500px;
	height: 300px;
}
#button_container {
	text-align: center;
	margin: 0px auto;
}
#rndcolor-button {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	padding: 15px 30px;
	background: #bc1939;
	color: #f9fafa;
	text-decoration: none;
	border-top: 1px solid #c94660;
	border-left: 1px solid #c94660;

	text-shadow: 1px 2px 0 #831127;

	box-shadow: 1px 0 0 #831127,   0 1px 0 #831127,
				2px 1px 0 #831127, 1px 2px 0 #831127,
				3px 2px 0 #831127, 2px 3px 0 #831127,
				4px 3px 0 #831127, 3px 4px 0 #831127,
				4px 4px 2px #000;
